:root {
    --navy-1: #161F31;
    --prim-1: #191d2b;
    --grey-1: #dbe1e8;
    --grey-2: #0A2647;
    --grey-3: #6c7983;
    --lsla-1: #ccd6f6;
    --grey-4: #8A91AD;
    --grey-5: #041C32;
    --gold-1: #ecb365;
    --whit-1: #ffffff;
    --blue-1: #205295;
    --font-main: "Poppins", sans-serif;
    --font-pri: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    --font-sec: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    --font-opt: "Noto Sans", sans-serif;
    --font-default: 1rem;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--prim-1);
    font-family: var(--font-main);
    color: var(--whit-1);
    font-size: var(--font-default);
    transition: all .4s ease-in-out;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--whit-1);
    overflow: hidden;
    padding: 0 !important;
}

section {
    min-height: 100vh;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.container {
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--prim-1);
}



.item1 {
    display: none;
    transform: translateY(0) scale(1);

}

.item2 {
    display: none;
    transform: translateY(0) scale(1);

}

.item3 {
    display: none;
    transform: translateY(0) scale(1);

}

.item4 {
    display: none;
    transform: translateY(0) scale(1);

}

.item5 {
    display: none;
    transform: translateY(0) scale(1);

}

.active {
    display: block;
    animation: scalAnim 1s ease-in-out;

    @keyframes scalAnim {
        0% {
            transform: translateY(-100%) scaleY(0);
        }

        100% {
            transform: translateY(0) scaleY(1);
        }
    }
}

// controls
.controls {
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);

    .active-btn {
        background-color: var(--gold-1) !important;
        transition: all .4s ease-in-out;

        i {
            color: var(--grey-5) !important;
        }
    }

    .control {
        padding: 1rem;
        cursor: pointer;
        background-color: var(--grey-2);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);

        i {
            font-size: 1.2rem;
            color: var(--grey-3);
            pointer-events: none;
        }
    }
}

/*Hero section*/
.hero-content {
    height: 100%;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 18rem;

    .name {
        font-size: 16px;

        span {
            color: var(--gold-1);
        }

        .full-name {
            font-size: 80px;
            font-family: var(--font-pri);
            color: var(--lsla-1);
        }

        .cta {
            font-size: 40px;
            font-family: var(--font-pri);
            padding: .5rem 0 .9rem 0;
            color: var(--grey-4);
            width: 650px;
        }

        .brief-info {
            width: 650px;
            margin: 1.5rem 0;
            color: var(--grey-3);
        }
    }

}

.btn-con {
    display: flex;
    align-self: flex-start;
}

.main-btn {
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--gold-1);
    display: flex;
    align-self: flex-start;
    align-items: center;
    overflow: hidden;

    .btn-text {
        padding: 0 2rem;
    }

    .btn-icon {
        color: var(--gold-1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: .6rem;
    }
}